<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>loginFilter</filter-name>
	  <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>loginFilter</filter-name>
	  <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
  </filter>
  <filter-mapping>
      <filter-name>Set Character Encoding</filter-name>
	  <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminTypeFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>adminTypeFilter</filter-name>
	  <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>submitFilter</filter-name>
    <filter-class>filter.SubmitFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>submitFilter</filter-name>
	  <url-pattern>/submit/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.keyan.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeAdmin</servlet-name>
    <servlet-class>com.keyan.servlet.admin.TypeAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeDelete</servlet-name>
    <servlet-class>com.keyan.servlet.admin.TypeDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeAdd</servlet-name>
    <servlet-class>com.keyan.servlet.admin.TypeAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeModify</servlet-name>
    <servlet-class>com.keyan.servlet.admin.TypeModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperAdd</servlet-name>
    <servlet-class>com.keyan.servlet.PaperAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperAddInput</servlet-name>
    <servlet-class>com.keyan.servlet.PaperAddInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.keyan.servlet.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.keyan.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.keyan.servlet.Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperList</servlet-name>
    <servlet-class>com.keyan.servlet.PaperList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AchievementDelete</servlet-name>
    <servlet-class>com.keyan.servlet.AchievementDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperView</servlet-name>
    <servlet-class>com.keyan.servlet.PaperView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AchievementModifyA</servlet-name>
    <servlet-class>com.keyan.servlet.admin.AchievementModifyA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AchievementPassOrNo</servlet-name>
    <servlet-class>com.keyan.servlet.admin.AchievementPassOrNo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperModifyInput</servlet-name>
    <servlet-class>com.keyan.servlet.PaperModifyInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperModify</servlet-name>
    <servlet-class>com.keyan.servlet.PaperModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectAddInput</servlet-name>
    <servlet-class>com.keyan.servlet.ProjectAddInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectAdd</servlet-name>
    <servlet-class>com.keyan.servlet.ProjectAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectList</servlet-name>
    <servlet-class>com.keyan.servlet.ProjectList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectModify</servlet-name>
    <servlet-class>com.keyan.servlet.ProjectModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectModifyInput</servlet-name>
    <servlet-class>com.keyan.servlet.ProjectModifyInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectView</servlet-name>
    <servlet-class>com.keyan.servlet.ProjectView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookAdd</servlet-name>
    <servlet-class>com.keyan.servlet.BookAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookAddInput</servlet-name>
    <servlet-class>com.keyan.servlet.BookAddInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookList</servlet-name>
    <servlet-class>com.keyan.servlet.BookList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookModify</servlet-name>
    <servlet-class>com.keyan.servlet.BookModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookModifyInput</servlet-name>
    <servlet-class>com.keyan.servlet.BookModifyInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookView</servlet-name>
    <servlet-class>com.keyan.servlet.BookView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatentAdd</servlet-name>
    <servlet-class>com.keyan.servlet.PatentAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatentAddInput</servlet-name>
    <servlet-class>com.keyan.servlet.PatentAddInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatentList</servlet-name>
    <servlet-class>com.keyan.servlet.PatentList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatentModify</servlet-name>
    <servlet-class>com.keyan.servlet.PatentModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatentModifyInput</servlet-name>
    <servlet-class>com.keyan.servlet.PatentModifyInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatentView</servlet-name>
    <servlet-class>com.keyan.servlet.PatentView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoftwareAdd</servlet-name>
    <servlet-class>com.keyan.servlet.SoftwareAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoftwareAddInput</servlet-name>
    <servlet-class>com.keyan.servlet.SoftwareAddInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoftwareList</servlet-name>
    <servlet-class>com.keyan.servlet.SoftwareList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoftwareModify</servlet-name>
    <servlet-class>com.keyan.servlet.SoftwareModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoftwareModifyInput</servlet-name>
    <servlet-class>com.keyan.servlet.SoftwareModifyInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoftwareView</servlet-name>
    <servlet-class>com.keyan.servlet.SoftwareView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardsAdd</servlet-name>
    <servlet-class>com.keyan.servlet.AwardsAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardsAddInput</servlet-name>
    <servlet-class>com.keyan.servlet.AwardsAddInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardsModify</servlet-name>
    <servlet-class>com.keyan.servlet.AwardsModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardsModifyInput</servlet-name>
    <servlet-class>com.keyan.servlet.AwardsModifyInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardsView</servlet-name>
    <servlet-class>com.keyan.servlet.AwardsView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardsList</servlet-name>
    <servlet-class>com.keyan.servlet.AwardsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAdmin</servlet-name>
    <servlet-class>com.keyan.servlet.admin.UserAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>com.keyan.servlet.admin.UserAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDelete</servlet-name>
    <servlet-class>com.keyan.servlet.admin.UserDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserModify</servlet-name>
    <servlet-class>com.keyan.servlet.admin.UserModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LabAdd</servlet-name>
    <servlet-class>com.keyan.servlet.admin.LabAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LabModify</servlet-name>
    <servlet-class>com.keyan.servlet.admin.LabModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LabAdmin</servlet-name>
    <servlet-class>com.keyan.servlet.admin.LabAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LabDelete</servlet-name>
    <servlet-class>com.keyan.servlet.admin.LabDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserResetPassword</servlet-name>
    <servlet-class>com.keyan.servlet.admin.UserResetPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoView</servlet-name>
    <servlet-class>com.keyan.servlet.personal.InfoView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoModify</servlet-name>
    <servlet-class>com.keyan.servlet.personal.InfoModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PasswordModify</servlet-name>
    <servlet-class>com.keyan.servlet.personal.PasswordModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AchievementBatchPass</servlet-name>
    <servlet-class>com.keyan.servlet.admin.AchievementBatchPass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AchievementBatchDelete</servlet-name>
    <servlet-class>com.keyan.servlet.AchievementBatchDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportGenerate</servlet-name>
    <servlet-class>com.keyan.servlet.admin.ReportGenerate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportInput</servlet-name>
    <servlet-class>com.keyan.servlet.admin.ReportInput</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportDownload</servlet-name>
    <servlet-class>com.keyan.servlet.admin.ReportDownload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserImport</servlet-name>
    <servlet-class>com.keyan.servlet.UserImport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperListLiter</servlet-name>
    <servlet-class>com.keyan.servlet.PaperListLiter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitTip</servlet-name>
    <servlet-class>com.keyan.servlet.admin.SubmitTip</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CanSubmitSwitch</servlet-name>
    <servlet-class>com.keyan.servlet.admin.CanSubmitSwitch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitTipModify</servlet-name>
    <servlet-class>com.keyan.servlet.admin.SubmitTipModify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AchievementAward</servlet-name>
    <servlet-class>com.keyan.servlet.admin.AchievementAward</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AchievementBatchAward</servlet-name>
    <servlet-class>com.keyan.servlet.admin.AchievementBatchAward</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardsExport</servlet-name>
    <servlet-class>com.keyan.servlet.AwardsExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookExport</servlet-name>
    <servlet-class>com.keyan.servlet.BookExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperExport</servlet-name>
    <servlet-class>com.keyan.servlet.PaperExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatentExport</servlet-name>
    <servlet-class>com.keyan.servlet.PatentExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectExport</servlet-name>
    <servlet-class>com.keyan.servlet.ProjectExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SoftwareExport</servlet-name>
    <servlet-class>com.keyan.servlet.SoftwareExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperListPass</servlet-name>
    <servlet-class>com.keyan.servlet.PaperListPass</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeAdmin</servlet-name>
    <url-pattern>/admin/typeAdmin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeDelete</servlet-name>
    <url-pattern>/admin/typeDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeAdd</servlet-name>
    <url-pattern>/admin/typeAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeModify</servlet-name>
    <url-pattern>/admin/typeModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperAdd</servlet-name>
    <url-pattern>/submit/paperAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperAddInput</servlet-name>
    <url-pattern>/submit/paperAddInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/uploadFile.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperList</servlet-name>
    <url-pattern>/paperList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AchievementDelete</servlet-name>
    <url-pattern>/submit/achievementDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperView</servlet-name>
    <url-pattern>/paperView.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AchievementModifyA</servlet-name>
    <url-pattern>/admin/achievementModifyA.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AchievementPassOrNo</servlet-name>
    <url-pattern>/admin/achievementPassOrNo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperModifyInput</servlet-name>
    <url-pattern>/submit/paperModifyInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperModify</servlet-name>
    <url-pattern>/submit/paperModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectAddInput</servlet-name>
    <url-pattern>/submit/projectAddInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectAdd</servlet-name>
    <url-pattern>/submit/projectAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectList</servlet-name>
    <url-pattern>/projectList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectModify</servlet-name>
    <url-pattern>/submit/projectModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectModifyInput</servlet-name>
    <url-pattern>/submit/projectModifyInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectView</servlet-name>
    <url-pattern>/projectView.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookAdd</servlet-name>
    <url-pattern>/submit/bookAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookAddInput</servlet-name>
    <url-pattern>/submit/bookAddInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookList</servlet-name>
    <url-pattern>/bookList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookModify</servlet-name>
    <url-pattern>/submit/bookModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookModifyInput</servlet-name>
    <url-pattern>/submit/bookModifyInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookView</servlet-name>
    <url-pattern>/bookView.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentAdd</servlet-name>
    <url-pattern>/submit/patentAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentAddInput</servlet-name>
    <url-pattern>/submit/patentAddInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentList</servlet-name>
    <url-pattern>/patentList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentModify</servlet-name>
    <url-pattern>/submit/patentModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentModifyInput</servlet-name>
    <url-pattern>/submit/patentModifyInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentView</servlet-name>
    <url-pattern>/patentView.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoftwareAdd</servlet-name>
    <url-pattern>/submit/softwareAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoftwareAddInput</servlet-name>
    <url-pattern>/submit/softwareAddInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoftwareList</servlet-name>
    <url-pattern>/softwareList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoftwareModify</servlet-name>
    <url-pattern>/submit/softwareModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoftwareModifyInput</servlet-name>
    <url-pattern>/submit/softwareModifyInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoftwareView</servlet-name>
    <url-pattern>/softwareView.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardsAdd</servlet-name>
    <url-pattern>/submit/awardsAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardsAddInput</servlet-name>
    <url-pattern>/submit/awardsAddInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardsModify</servlet-name>
    <url-pattern>/submit/awardsModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardsModifyInput</servlet-name>
    <url-pattern>/submit/awardsModifyInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardsView</servlet-name>
    <url-pattern>/awardsView.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardsList</servlet-name>
    <url-pattern>/awardsList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdmin</servlet-name>
    <url-pattern>/admin/userAdmin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/admin/userAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/admin/userDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserModify</servlet-name>
    <url-pattern>/admin/userModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LabAdd</servlet-name>
    <url-pattern>/admin/labAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LabModify</servlet-name>
    <url-pattern>/admin/labModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LabAdmin</servlet-name>
    <url-pattern>/admin/labAdmin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LabDelete</servlet-name>
    <url-pattern>/admin/labDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserResetPassword</servlet-name>
    <url-pattern>/admin/userResetPassword.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoView</servlet-name>
    <url-pattern>/personal/infoView.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoModify</servlet-name>
    <url-pattern>/personal/infoModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordModify</servlet-name>
    <url-pattern>/personal/passwordModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AchievementBatchPass</servlet-name>
    <url-pattern>/admin/achievementBatchPass.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AchievementBatchDelete</servlet-name>
    <url-pattern>/submit/achievementBatchDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportGenerate</servlet-name>
    <url-pattern>/admin/reportGenerate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportInput</servlet-name>
    <url-pattern>/admin/reportInput.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportDownload</servlet-name>
    <url-pattern>/admin/reportDownload.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserImport</servlet-name>
    <url-pattern>/userImport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperListLiter</servlet-name>
    <url-pattern>/paperListLiter.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitTip</servlet-name>
    <url-pattern>/admin/submitTip.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CanSubmitSwitch</servlet-name>
    <url-pattern>/admin/canSubmitSwitch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitTipModify</servlet-name>
    <url-pattern>/admin/submitTipModify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AchievementAward</servlet-name>
    <url-pattern>/admin/achievementAward.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AchievementBatchAward</servlet-name>
    <url-pattern>/admin/achievementBatchAward.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardsExport</servlet-name>
    <url-pattern>/awardsExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookExport</servlet-name>
    <url-pattern>/bookExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperExport</servlet-name>
    <url-pattern>/paperExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentExport</servlet-name>
    <url-pattern>/patentExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectExport</servlet-name>
    <url-pattern>/projectExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SoftwareExport</servlet-name>
    <url-pattern>/softwareExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperListPass</servlet-name>
    <url-pattern>/paperListPass.do</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
